@import "../../constants/style.constants"

.title
    color: $primary-color
    text-align: center
    font-size: 2.5em
    text-transform: uppercase
    margin: 1em

.under-title
    text-align: center
    font-size: 1em
    text-transform: uppercase
    color: $border-color

.landing-container
    box-sizing: border-box
    margin: 2em

.login-box
    text-align: center
    margin: 1.2em

.input-box
    padding: 12px 20px
    margin: 8px 0
    box-sizing: border-box
    background-color: $secondary-color
    border: 4px solid $border-color
    border-radius: 0.5em
    font-size: 1.5em
