<div class="landing-container">
  <h1 class="title">Pokemon-Trainer</h1>
  <h2 class="under-title">Go Catch Pokemons</h2>

  <div class="login-box">
    <app-img-random></app-img-random>

    <form>
      <input
        type="text"
        class="input-box"
        name="username"
        id="username"
        [(ngModel)]="username"
        placeholder="Enter trainer name"
      />
    </form>

    <div>
      <app-button
        (click)="onLoginClick()"
        [disabled]="username === ''"
      >
        GO
      </app-button>
    </div>
  </div>
</div>
