@import "../../constants/style.constants"

.card-container
    height: 100%
    background-color: $secondary-color
    transition: all 0.3s ease
    border: 4px solid $border-color
    border-radius: 0.5em
    box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2)
