@import "../../constants/style.constants"

.trainer-title
    text-align: center
    margin: 20px
    font-size: 3em
    color: $secondary-color
    text-transform: uppercase

.header--logout
    text-align: center

.trainer--collection
    text-align: center
