<h1 class="trainer-title">Trainer page</h1>
<div *ngIf="userIsLoggedIn" class="header--logout">
  <app-button
    (click)="logOut()"
    [routerLink]="'/' + appRoutes.LANDING"
  >
    Log Out
  </app-button>
</div>
<div class="trainer--collection">
  <app-pokemon-card
    *ngFor="let poke of caughtPokemon"
    [pokemon]="poke"
  ></app-pokemon-card>
</div>
