<header class="header--container">
  <div class="header--content">
    <nav>
      <ul>
        <li class="header--nav-item" [routerLink]="appRoutes.TRAINER">
          Trainer Page
        </li>
        <li class="header--nav-item" [routerLink]="appRoutes.CATALOGUE">
          Catalouge
        </li>
      </ul>
    </nav>
  </div>
</header>
