@import "../../constants/style.constants"

.header--container
    min-height: 4em
    background-color: $primary-color
    padding: 1em

.header--content
    width: $max-page-width
    margin: auto
    float: left

.header--content *
    display: inline-block

.header--nav-item
    margin: 0 0.75em
    font-size: 1.3em
    cursor: pointer
    text-transform: uppercase
    color: $secondary-color
