@import "../../constants/style.constants"

.p-card
    display: inline-block
    margin: 1.25em
    text-align: center
    cursor: pointer

    &__image
        width: 11em

    &__body
        padding: 1.25em
        border-top: 4px solid $border-color
        background-color: $primary-color

    &__title
        font-size: 1em
        font-weight: 700
        line-height: 1.2
        margin: 0
        padding: 0
        text-transform: uppercase
        color: $secondary-color
