<app-card class="p-card" [routerLink]="'/' + appRoutes.POKEMON + pokemon.name">
  <img [src]="pokemon.imageUrl" class="p-card__image" alt="Pokemon Img" />

  <div class="p-card__body">
    <h2 class="p-card__title">
      {{ pokemon.name }}
    </h2>
  </div>
</app-card>
