@import "../../constants/style.constants"

button
    background-color: $primary-color
    color: $secondary-color
    border: 4px solid $border-color
    font-size: 1em
    border-radius: 2em
    text-transform: uppercase
    margin: 0.5em
    padding: 0.5em
    cursor: pointer

button:disabled
    background-color: $border-color
