<div class="pokemon-detail--container">
  <app-detail-card>
    <h2>Base Stats: {{ pokemon.name }}</h2>

    <img [src]="pokemon.imageUrl" [alt]="pokemon.name + ' avatar'" />

    <app-type-list [types]="pokemon.types"></app-type-list>
    <app-stats-list [stats]="pokemon.baseStats"></app-stats-list>
  </app-detail-card>

  <app-detail-card>
    <h2>Profile:</h2>
    <p>Height: {{ pokemon.height }}</p>
    <p>Weight: {{ pokemon.weight }}</p>

    <app-ability-list [abilities]="pokemon.abilities"></app-ability-list>

    <p class="pokemon-detail--xp">
      Base Experience: {{ pokemon.baseExperience }}
    </p>

    <app-button (click)="onCatchClicked()">Catch</app-button>
  </app-detail-card>

  <app-detail-card>
    <h2>Moves:</h2>
    <app-moves-list [moves]="pokemon.moves"></app-moves-list>
  </app-detail-card>
</div>
