.pokemon-detail--container
    display: flex
    flex-flow: row wrap

app-detail-card
    display: flex
    margin: 0 1em
    flex-grow: 1

img
    width: 12em

h2
    font-size: 1.5em
    text-transform: capitalize

p
    font-size: 1.15em
    font-weight: bold

.pokemon-detail--xp
    margin-bottom: 7em
