@import '../../../constants/style.constants.sass'
    
li
    display: inline-block
    background-color: $primary-color
    margin-top: 0.5em
    margin-right: 1em
    padding: 0.25em 0.5em
    list-style-type: none
    color: $secondary-color
    font-size: 1.15em
    text-transform: capitalize
    border: 1px solid $border-color
    border-radius: 5px
