@import "../../constants/style.constants"

.cata-title
    text-align: center
    margin: 20px
    font-size: 3em
    color: $secondary-color
    text-transform: uppercase

.catalogue--content
    text-align: center
