<h1 class="cata-title">Pokemon Catalouge</h1>
<main class="catalogue--content">
  <app-pokemon-card
    *ngFor="let pokemon of pokemons$ | async"
    [pokemon]="pokemon"
  >
  </app-pokemon-card>
</main>
